<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#">Vet-Case</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/animals">Animals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/owners">Owners</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/animals/search}" method="get">
            <input  th:value="${keyword}" name="keyword" class="form-control mr-sm-2" type="text" placeholder="Find by Owner Name & Animal Name" size="50" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <input class="btn btn-outline-secondary" type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
        </form>
    </div>
</nav>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/animals}]]";
    }
</script>