<!DOCTYPE html>
<th:block th:replace="partials/header"></th:block>
<body>
<div class="container">
  <th:block th:replace="partials/nav"></th:block>
  <h5>Update Animal</h5>
  <form action="#" th:action="@{/animals/save}" th:object="${animal}" ,method="POST">
    <input type="hidden" th:field="*{id}"/>
    <input type="text" th:field="*{name}" placeholder=" Name" class="form-control mb-2 col-4" >
    <input type="text" th:field="*{type}"  placeholder="Type lastName" class="form-control mb-2 col-4" >
    <input type="text" th:field="*{age}" placeholder="Age" class="form-control mb-2 col-4" >
    <input type="text" th:field="*{genus}" placeholder="Genus" class="form-control mb-2 col-4" >
    <input type="text" th:field="*{description}" placeholder="Description" class="form-control mb-2 col-4" >
    <input type="hidden" th:field="*{owner.id}" class="form-control mb-2 col-4"/>
    <input type="text" th:field="*{owner.lastName}"  disabled="true" class="form-control mb-2 col-4"/>
    <input type="text" th:field="*{owner.firstName}" disabled="true" class="form-control mb-2 col-4"/>
    <input type="text" th:field="*{owner.phone}" class="form-control mb-4 col-4"/>
    <input type="text" th:field="*{owner.email}" class="form-control mb-4 col-4"/>
    <button type="submit" class="btn btn-info col-2">Save Animal</button>
  </form>
  <hr>
  <a th:href="@{/animals}">Back to Animals List</a>
</div>
</body>
</body>
</html>